
* {
    margin:0;
    font-family: "Open Sans", serif;
   
  }

  /* header and navigation style */
.header{
    background-image: url('/images/header_bg.png'), url('/images/developer.png');
   
    opacity: 50px;
    background-repeat: no-repeat;
    background-position: bottom right, left;
    background-position: fixed;
    background-color: #FFF8F3;
}
.header{

}

  nav{
    display: flex;
    justify-content: space-between;
    margin: 50px 200px;
  }
  nav li{
    list-style: none;
    margin-left: 50px;
    
    
  }
  nav ul{
    display: flex;
    align-items: center;
  }
  .nav-tittle{
    font-weight: 800;
    font-size: 45px;
  }

  .span-r{
    color: #FD6E0A;
  }



  .nav-btn{
    width: 120px;
    height: 60px;
    background-color: #FD6E0A;
    border-radius: 6px;
    color: rgb(236, 236, 245);
    font-size: 20px;
    border: 0;
    font-weight: bold;
 
  }
 

  /* banner styles */
  .banner{
    display: flex;
    justify-items: space-between;
    margin: 0px 200px;
    gap: 20px;
    align-items: center;
   
  }


  .div-img{

   
    
  }
  .div-text{
 padding-left: 200px;
  }


  .name{
    font-size: 85px;
    font-weight: bold;
  }
  .text{
    font-size: 45px;
    font-weight: 600;
  }
  .text-p{
    margin-bottom: 20px;
  }

  /* main section */
  main{
    max-width: 1140px;
    margin: 0 auto;
  }

  .about{
    margin-top: 130px;
    background-color: #FFF8F3;
    border-radius: 10px;
    padding: 130px 150px;
    
  }

  .about-tittle{
    text-align: center;
    margin-bottom: 20px;
    font-size: 40px;
    margin-top: 20px;
  }

  .about-discription{
    color: #757575;
    font-size: 18px;
    text-align: center;
    margin-top: 30px;
  }

  .about-container{
    display: flex;
    justify-content: space-around;
    text-align: center;
  }
  .info-tittle{
    color: #757575;
    margin-top: 40px;
    
  }

  .skill-container{
    display: flex;
    gap: 23px;
    margin-top: 50px
  }
  .skill{
    background-color: #FFFFFF;
    width: 267px;
    height: 377px;
    box-shadow: 0 6px 50px #000000;
    border-radius: 10px;
    padding-left: 5px;
    margin-top: 30px
   
  }

  .skill-name{
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: bold;
  }
